الطريق لاحتراف تطوير المواقع ج 6/الأمثلة/chapter 2/ex - 3.xml

<?xml   version="1.0"  encoding="utf-8"?>
<xs:schema     xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="book">	
 	<xs:complexType>
 		<xs:sequence>
      			<xs:element name="name" type="xs:string"/>
      			<xs:element name="date" type="xs:string"/>
  		 	<xs:element name=" num_of_pages " type="xs:string"/>
 			 <xs:element name=" size " type="xs:string"/>
<xs:element name=" auther " type="xs:string"/>
   </xs:sequence>
</xs:complexType>
</xs:element>	
</xs:schema>
